.backgroundImage {
    background-image: url("../../img/wallpaper.jpeg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 7rem;
}

.alertPosition {
    width: 25rem;
    border-radius: 1rem;
    
}